
.events{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    width: 300px;
}

.sort-text {
    font-weight: bold;
}

.count-text {
    font-weight: bold;
}

.create_button {
    margin-bottom: 15px;
}